#Wrapper{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#TodoBox{
    width:100%;
    height:100%;
    max-width: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:20rem;
}

#ContentsBox{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#ContentHeader{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    max-width:600px;
}

#ContentBody{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    max-width:600px;
}

#InputBox{
    width:100%;
    max-width:500px;
}


.TodoList{
    color:red
}


#ListBox{

}